// Colors
$lightGrey: #CCC;
$white: #fff;

// Common colors
$baseBackground: $lightGrey;
$baseForeground: $white;
$baseBorder: #444;

$achievementsBackground:    green;
$iconComponentBackground:   orange;
$informationBackground:     blue;
$mainBackground:            $lightGrey;
$performanceBackground:     red;
$searchBackground:          purple;