// Colors
$blue:      #006f94;
$grey:      #666666;
$lightGrey: #f4f4f4;
$darkGrey:  #333333;

// Common colors
$primaryBackground:     $lightGrey;
$primaryForeground:     $grey;
$secondaryBackground:   $blue;
$secondaryForeground:   white;