// Colors
  $blue:        #0078D7;
  $lightGrey:   #F4F4F4;
  $grey:        #DADADA;
  $darkGrey:    #EAEAEA;
  $dark:        #333333;
  $white:       #FFFFFF;

// Common colors
  $backgroundPrimaryColor:     $lightGrey;  
  $foregroundPrimaryColor:     $dark;
  $foregroundSecondaryColor:   $white;

// Layout
  $border: 1px solid $darkGrey;
  $padding: .4em;
  $margin: .4em;

// Chart colors
  $chartPrimaryColor:       $blue;
  $chartSecondaryColor:     $grey;
  $chartBorderColor:        $white;
  $chartPrimaryColorAlpha:  rgba(199,224,244,.3); 