// Colors
$blue:      #0078d7;
$lightGrey: #f4f4f4;
$grey:      #eaeaea;
$darkGrey:  #333333;

// Common colors
$primaryBackground:     $lightGrey;
$primaryForeground:     $darkGrey;
$secondaryBackground:   $blue;
$secondaryForeground:   white;

$border: 1px solid $grey;

$padding: .4em;
$margin: .4em;