.placeholder{
  .container{
    padding: 2em 0;
    background-color: #f4f4f4;
    float: none;
  }

  .icon{
    font-size: 4em;
    margin: .5em 0;
  }

  .title{
    padding: 1em 8em;
    margin: auto;
  }

  .spinner{
    padding: 1em;
  }  
}
