.placeholder{
  color: #c8c8c8;

  .container{
    //padding: 2em 0;
    float: none;
  }

  .icon{
    text-align: right;
    font-size: 4em;
    //margin: .5em 0;
  }

  .title{
    padding: 1em 5em;
    margin: auto;
  }

  .spinner{
    padding: 1em;
  }  
}
