.main{
  @import "../../styles/variables.module";

  background-color: $primaryBackground;
  color: $primaryForeground;        
  
  .componentSection {
    margin-top: .6em;
    min-height: 16em;
  }
}
