.achievement{
  @import "../../../styles/variables.module";

  background-color: $primaryBackground;
  border: $border;
  padding: 0.08em;
  font-size: .87em;
  margin: .4em 0;
  display: block;

  i {
    margin: .14em 0;
  }
}
