.iconComponentContainer {
  background-color: $iconComponentBackground;
  color: $baseForeground;
}

.iconXXSmall{
  font-size: xx-small;
}

.iconXSmall{
  font-size: x-small;
}

.iconSmall{
  font-size: small;
}

.iconMedium{
  font-size: medium;
}

.iconLarge{
  font-size: large;
}

.iconXLarge{
  font-size: x-large;
}

.iconXXLarge{
  font-size: xx-large;
}